In [103]:
import os
import pandas as pd
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
pd.set_option("display.max_colwidth", None)

In [104]:
PROJECT_ROOT = os.getcwd()

DATA_RAW_DIR = os.path.join(PROJECT_ROOT,"data_raw")
DATA_CLEAN_DIR = os.path.join(PROJECT_ROOT, "data_clean")
DATA_FINAL_DIR = os.path.join(PROJECT_ROOT, "data_final")

PROJECT_ROOT, DATA_RAW_DIR

('c:\\Users\\Christopher\\Documents\\Python Projects\\New_York_City_Eviction',
 'c:\\Users\\Christopher\\Documents\\Python Projects\\New_York_City_Eviction\\data_raw')

In [105]:
raw_csv_path = os.path.join(DATA_RAW_DIR, "evictions_raw.csv")
print("Loading from:", raw_csv_path)

evictions_raw = pd.read_csv(raw_csv_path)
print("Shape:", evictions_raw.shape)

Loading from: c:\Users\Christopher\Documents\Python Projects\New_York_City_Eviction\data_raw\evictions_raw.csv
Shape: (120084, 20)

In [106]:
evictions_raw.head()

,court_index_number,docket_number,eviction_address,eviction_apt_num,executed_date,marshal_first_name,marshal_last_name,residential_commercial_ind,borough,eviction_zip,ejectment,eviction_possession,latitude,longitude,community_board,council_district,census_tract,bin,bbl,nta
0,B051541/15,360641,120 WEST 183 STREET,15,2017-01-05T00:00:00.000,Richard,McCoy,Residential,BRONX,10453,Not an Ejectment,Possession,40.859892,-73.910150,7.0,14.0,255.0,2014902.0,2.032230e+09,Kingsbridge Heights
1,2141/19,351881,1716 NEREID AVENUE,2,2019-04-26T00:00:00.000,Thomas,Bia,Residential,BRONX,10466,Not an Ejectment,Possession,40.897898,-73.852183,12.0,11.0,434.0,2069945.0,2.050480e+09,Woodlawn-Wakefield
2,309099/23,17684,728 E. 136TH STREET 2ND FLOOR,NaN,2023-12-15T00:00:00.000,Robert,Renzulli,Commercial,BRONX,10454,Not an Ejectment,Possession,40.803276,-73.913123,1.0,17.0,19.0,2003768.0,2.025640e+09,Mott Haven-Port Morris
3,11149/16,5212,1490 BRYANT AVE 3RD FL RIGHT SIDE,NaN,2017-11-22T00:00:00.000,Robert,Renzulli,Residential,BRONX,10460,Ejectment,Possession,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7463/19,489650,767 EAST 229TH STREE T,*,2019-06-13T00:00:00.000,Danny,Weinheim,Residential,BRONX,10466,Not an Ejectment,Possession,40.890068,-73.857116,12.0,12.0,422.0,2063589.0,2.048430e+09,Williamsbridge-Olinville

In [107]:
evictions_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120084 entries, 0 to 120083
Data columns (total 20 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   court_index_number          120084 non-null  object
 1   docket_number               120084 non-null  int64
 2   eviction_address            120084 non-null  object
 3   eviction_apt_num            102411 non-null  object
 4   executed_date               120084 non-null  object
 5   marshal_first_name          120084 non-null  object
 6   marshal_last_name           120084 non-null  object
 7   residential_commercial_ind  120084 non-null  object
 8   borough                     120084 non-null  object
 9   eviction_zip                120084 non-null  int64
 10  ejectment                   120084 non-null  object
 11  eviction_possession         120084 non-null  object
 12  latitude                    109465 non-null  float64
 13  longitude                   109465 non-null  float64
 14  community_board             109465 non-null  float64
 15  council_district            109465 non-null  float64
 16  census_tract                109465 non-null  float64
 17  bin                         109089 non-null  float64
 18  bbl                         109089 non-null  float64
 19  nta                         109465 non-null  object
dtypes: float64(7), int64(2), object(11)
memory usage: 18.3+ MB

In [108]:
evictions_raw.isna().sum().sort_values(ascending=False)

eviction_apt_num              17673
bbl                           10995
bin                           10995
nta                           10619
census_tract                  10619
council_district              10619
community_board               10619
longitude                     10619
latitude                      10619
eviction_possession               0
court_index_number                0
docket_number                     0
eviction_zip                      0
borough                           0
residential_commercial_ind        0
marshal_last_name                 0
marshal_first_name                0
executed_date                     0
eviction_address                  0
ejectment                         0
dtype: int64

In [109]:

evictions_raw[["borough", "residential_commercial_ind", "ejectment", "eviction_possession"]].nunique()

borough                       5
residential_commercial_ind    2
ejectment                     2
eviction_possession           3
dtype: int64

In [110]:
evictions_raw["executed_date"] = pd.to_datetime(
    evictions_raw["executed_date"],
    errors="coerce"
)

evictions_raw["executed_date"].head()

0   2017-01-05
1   2019-04-26
2   2023-12-15
3   2017-11-22
4   2019-06-13
Name: executed_date, dtype: datetime64[ns]

In [111]:
evictions_raw["latitude"] = pd.to_numeric(evictions_raw["latitude"], errors="coerce")
evictions_raw["longitude"] = pd.to_numeric(evictions_raw["longitude"], errors="coerce")

In [112]:
numeric_cols = [
    "community_board",
    "council_district",
    "census_tract",
    "bin",
    "bbl"
]

for col in numeric_cols:
    evictions_raw[col] = pd.to_numeric(evictions_raw[col], errors="coerce")

In [113]:
text_cols = [
    "borough",
    "residential_commercial_ind",
    "ejectment",
    "eviction_possession",
    "eviction_address",
    "eviction_apt_num",
    "marshal_first_name",
    "marshal_last_name",
    "nta"
]

for col in text_cols:
    evictions_raw[col] = evictions_raw[col].astype(str).str.strip()

In [114]:
evictions_raw.dtypes

court_index_number                    object
docket_number                          int64
eviction_address                      object
eviction_apt_num                      object
executed_date                 datetime64[ns]
marshal_first_name                    object
marshal_last_name                     object
residential_commercial_ind            object
borough                               object
eviction_zip                           int64
ejectment                             object
eviction_possession                   object
latitude                             float64
longitude                            float64
community_board                      float64
council_district                     float64
census_tract                         float64
bin                                  float64
bbl                                  float64
nta                                   object
dtype: object

In [115]:
# Year as integer (e.g., 2024)
evictions_raw["year"] = evictions_raw["executed_date"].dt.year

# Month as integer 1-12
evictions_raw["month"] = evictions_raw["executed_date"].dt.month

# Year-month as a string label (e.g., "2024-10")
evictions_raw["year_month"] = evictions_raw["executed_date"].dt.to_period("M").astype(str)

evictions_raw[["executed_date", "year", "month", "year_month"]].head(20)

   executed_date  year  month year_month
0     2017-01-05  2017      1    2017-01
1     2019-04-26  2019      4    2019-04
2     2023-12-15  2023     12    2023-12
3     2017-11-22  2017     11    2017-11
4     2019-06-13  2019      6    2019-06
5     2024-01-03  2024      1    2024-01
6     2022-06-01  2022      6    2022-06
7     2017-05-02  2017      5    2017-05
8     2017-08-01  2017      8    2017-08
9     2025-08-01  2025      8    2025-08
10    2025-06-30  2025      6    2025-06
11    2017-05-16  2017      5    2017-05
12    2023-05-16  2023      5    2023-05
13    2025-05-12  2025      5    2025-05
14    2019-02-26  2019      2    2019-02
15    2017-11-15  2017     11    2017-11
16    2024-04-17  2024      4    2024-04
17    2018-11-01  2018     11    2018-11
18    2019-03-06  2019      3    2019-03
19    2017-08-21  2017      8    2017-08

In [116]:
evictions_raw[["year", "month", "year_month"]].describe(include="all")

                 year          month year_month
count   120084.000000  120084.000000     120084
unique            NaN            NaN        101
top               NaN            NaN    2018-01
freq              NaN            NaN       2246
mean      2020.650003       6.211352        NaN
std          3.052048       3.390491        NaN
min       2017.000000       1.000000        NaN
25%       2018.000000       3.000000        NaN
50%       2019.000000       6.000000        NaN
75%       2024.000000       9.000000        NaN
max       2025.000000      12.000000        NaN

In [117]:
evictions_raw["borough"].value_counts()

borough
BRONX            37923
BROOKLYN         33880
QUEENS           24028
MANHATTAN        19891
STATEN ISLAND     4362
Name: count, dtype: int64

In [118]:
evictions_raw["residential_commercial_ind"].value_counts()

residential_commercial_ind
Residential    109312
Commercial      10772
Name: count, dtype: int64

In [119]:
evictions_raw["ejectment"].value_counts()

ejectment
Not an Ejectment    119995
Ejectment               89
Name: count, dtype: int64

In [120]:
evictions_raw["eviction_possession"].value_counts()

eviction_possession
Possession     118402
Eviction         1681
Unspecified         1
Name: count, dtype: int64

In [121]:
evictions_raw["borough"] = (
    evictions_raw["borough"]
    .astype(str)
    .str.strip()
    .str.upper()
)

evictions_raw["residential_commercial_ind"] = (
    evictions_raw["residential_commercial_ind"]
    .astype(str)
    .str.strip()
    .str.title()
)

evictions_raw["nta"] = (
    evictions_raw["nta"]
    .astype(str)
    .str.strip()
    .str.title()
)

evictions_raw["marshal_first_name"] = (
    evictions_raw["marshal_first_name"]
    .astype(str)
    .str.strip()
    .str.title()
)

evictions_raw["marshal_last_name"] = (
    evictions_raw["marshal_last_name"]
    .astype(str)
    .str.strip()
    .str.title()
)

In [122]:
# Normalize ejectment text
evictions_raw["eviction_clean"] = (
    evictions_raw["ejectment"]
    .astype(str)
    .str.strip()
    .str.lower()
)

evictions_raw[evictions_raw["ejectment"] == "Ejectment"].head(100)

evictions_raw["ejectment"].value_counts()

# Map to standardized labels
ejectment_map = {
    "ejectment": "Ejectment",
    "not an ejectment": "Not an Ejectment"
}

evictions_raw["ejectment_standardized"] = (
    evictions_raw["eviction_clean"].map(ejectment_map).fillna("Other/Unknown")
)

# Boolean flag for analysis (True if it's an ejectment case)
evictions_raw["is_ejectment"] = evictions_raw["ejectment_standardized"].eq("Ejectment")

evictions_raw[["ejectment", "ejectment_standardized", "is_ejectment"]].value_counts()

ejectment         ejectment_standardized  is_ejectment
Not an Ejectment  Not an Ejectment        False           119995
Ejectment         Ejectment               True                89
Name: count, dtype: int64

In [123]:
evictions_raw.columns

Index(['court_index_number', 'docket_number', 'eviction_address',
       'eviction_apt_num', 'executed_date', 'marshal_first_name',
       'marshal_last_name', 'residential_commercial_ind', 'borough',
       'eviction_zip', 'ejectment', 'eviction_possession', 'latitude',
       'longitude', 'community_board', 'council_district', 'census_tract',
       'bin', 'bbl', 'nta', 'year', 'month', 'year_month', 'eviction_clean',
       'ejectment_standardized', 'is_ejectment'],
      dtype='object')

In [124]:
evictions_raw["eviction_possession"] = (
    evictions_raw["eviction_possession"]
    .astype(str)
    .str.strip()
    .str.title()
)

evictions_raw["eviction_possession"].value_counts()

eviction_possession
Possession     118402
Eviction         1681
Unspecified         1
Name: count, dtype: int64

In [125]:
evictions_raw[["borough", "residential_commercial_ind", "ejectment_standardized", "is_ejectment", "eviction_possession"]].head()

,borough,residential_commercial_ind,ejectment_standardized,is_ejectment,eviction_possession
0,BRONX,Residential,Not an Ejectment,False,Possession
1,BRONX,Residential,Not an Ejectment,False,Possession
2,BRONX,Commercial,Not an Ejectment,False,Possession
3,BRONX,Residential,Ejectment,True,Possession
4,BRONX,Residential,Not an Ejectment,False,Possession

In [126]:
evictions_raw.isna().sum().sort_values(ascending=False)

bbl                           10995
bin                           10995
longitude                     10619
community_board               10619
census_tract                  10619
council_district              10619
latitude                      10619
ejectment_standardized            0
eviction_clean                    0
year_month                        0
month                             0
year                              0
nta                               0
court_index_number                0
docket_number                     0
eviction_possession               0
ejectment                         0
eviction_zip                      0
borough                           0
residential_commercial_ind        0
marshal_last_name                 0
marshal_first_name                0
executed_date                     0
eviction_apt_num                  0
eviction_address                  0
is_ejectment                      0
dtype: int64

In [127]:
missing_geo = evictions_raw[evictions_raw["latitude"].isna() | evictions_raw["longitude"].isna()]

missing_geo.head(30)
missing_geo.shape

(10619, 26)

In [128]:
evictions_raw["has_geo"] = evictions_raw["latitude"].notna() & evictions_raw["longitude"].notna()

In [129]:
invalid_lat = ~evictions_raw["latitude"].between(40.0, 41.0, inclusive="both")
invalid_lon = ~evictions_raw["longitude"].between(-75.0, -73.0, inclusive="both")

invalid_rows = evictions_raw[invalid_lat | invalid_lon]
invalid_rows.shape

(10619, 27)

In [130]:
evictions_raw["has_geo"].value_counts()

has_geo
True     109465
False     10619
Name: count, dtype: int64

In [131]:
cols_order = [
    # IDs
    "court_index_number",
    "docket_number",

    # Time
    "executed_date",
    "year",
    "month",
    "year_month",

    # Location + address
    "borough",
    "eviction_address",
    "eviction_apt_num",
    "eviction_zip",
    "nta",
    "community_board",
    "council_district",
    "census_tract",
    "bin",
    "bbl",

    # Coordinates + geo flag
    "latitude",
    "longitude",
    "has_geo",

    # Case type + flags
    "residential_commercial_ind",
    "ejectment",
    "ejectment_standardized",
    "is_ejectment",
    "eviction_possession",

    # Marshal info
    "marshal_first_name",
    "marshal_last_name",
]

# Build the cleaned dataframe in the desired column order
evictions_clean = evictions_raw[cols_order].copy()

evictions_clean.head()

,court_index_number,docket_number,executed_date,year,month,year_month,borough,eviction_address,eviction_apt_num,eviction_zip,nta,community_board,council_district,census_tract,bin,bbl,latitude,longitude,has_geo,residential_commercial_ind,ejectment,ejectment_standardized,is_ejectment,eviction_possession,marshal_first_name,marshal_last_name
0,B051541/15,360641,2017-01-05,2017,1,2017-01,BRONX,120 WEST 183 STREET,15,10453,Kingsbridge Heights,7.0,14.0,255.0,2014902.0,2.032230e+09,40.859892,-73.910150,True,Residential,Not an Ejectment,Not an Ejectment,False,Possession,Richard,Mccoy
1,2141/19,351881,2019-04-26,2019,4,2019-04,BRONX,1716 NEREID AVENUE,2,10466,Woodlawn-Wakefield,12.0,11.0,434.0,2069945.0,2.050480e+09,40.897898,-73.852183,True,Residential,Not an Ejectment,Not an Ejectment,False,Possession,Thomas,Bia
2,309099/23,17684,2023-12-15,2023,12,2023-12,BRONX,728 E. 136TH STREET 2ND FLOOR,nan,10454,Mott Haven-Port Morris,1.0,17.0,19.0,2003768.0,2.025640e+09,40.803276,-73.913123,True,Commercial,Not an Ejectment,Not an Ejectment,False,Possession,Robert,Renzulli
3,11149/16,5212,2017-11-22,2017,11,2017-11,BRONX,1490 BRYANT AVE 3RD FL RIGHT SIDE,nan,10460,Nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,Residential,Ejectment,Ejectment,True,Possession,Robert,Renzulli
4,7463/19,489650,2019-06-13,2019,6,2019-06,BRONX,767 EAST 229TH STREE T,*,10466,Williamsbridge-Olinville,12.0,12.0,422.0,2063589.0,2.048430e+09,40.890068,-73.857116,True,Residential,Not an Ejectment,Not an Ejectment,False,Possession,Danny,Weinheim

In [132]:
# --- Manual borough / ZIP corrections spotted from dashboard QA ---

# 1) 2025, BRONX, 10036 -> MANHATTAN
mask = (
    (evictions_clean["year"] == 2025)
    & (evictions_clean["borough"] == "BRONX")
    & (evictions_clean["eviction_zip"].astype(str) == "10036")
)
evictions_clean.loc[mask, "borough"] = "MANHATTAN"

# 2) 2024, BRONX, 10040 -> MANHATTAN
mask = (
    (evictions_clean["year"] == 2024)
    & (evictions_clean["borough"] == "BRONX")
    & (evictions_clean["eviction_zip"].astype(str) == "10040")
)
evictions_clean.loc[mask, "borough"] = "MANHATTAN"

# 3) 2023, BRONX, 10037 -> MANHATTAN
mask = (
    (evictions_clean["year"] == 2023)
    & (evictions_clean["borough"] == "BRONX")
    & (evictions_clean["eviction_zip"].astype(str) == "10037")
)
evictions_clean.loc[mask, "borough"] = "MANHATTAN"

# 4) 2022, QUEENS, 11207 -> BROOKLYN
mask = (
    (evictions_clean["year"] == 2022)
    & (evictions_clean["borough"] == "QUEENS")
    & (evictions_clean["eviction_zip"].astype(str) == "11207")
)
evictions_clean.loc[mask, "borough"] = "BROOKLYN"

# 5) 2020, BRONX, 10030 -> MANHATTAN
mask = (
    (evictions_clean["year"] == 2020)
    & (evictions_clean["borough"] == "BRONX")
    & (evictions_clean["eviction_zip"].astype(str) == "10030")
)
evictions_clean.loc[mask, "borough"] = "MANHATTAN"

# 6) 2019, MANHATTAN, 10000 -> BRONX, 10463
mask = (
    (evictions_clean["year"] == 2019)
    & (evictions_clean["borough"] == "MANHATTAN")
    & (evictions_clean["eviction_zip"].astype(str) == "10000")
)
evictions_clean.loc[mask, "borough"] = "BRONX"
evictions_clean.loc[mask, "eviction_zip"] = "10463"

C:\Users\Christopher\AppData\Local\Temp\ipykernel_23788\981140249.py:50: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10463' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  evictions_clean.loc[mask, "eviction_zip"] = "10463"

In [133]:
evictions_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120084 entries, 0 to 120083
Data columns (total 26 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   court_index_number          120084 non-null  object
 1   docket_number               120084 non-null  int64
 2   executed_date               120084 non-null  datetime64[ns]
 3   year                        120084 non-null  int32
 4   month                       120084 non-null  int32
 5   year_month                  120084 non-null  object
 6   borough                     120084 non-null  object
 7   eviction_address            120084 non-null  object
 8   eviction_apt_num            120084 non-null  object
 9   eviction_zip                120084 non-null  object
 10  nta                         120084 non-null  object
 11  community_board             109465 non-null  float64
 12  council_district            109465 non-null  float64
 13  census_tract                109465 non-null  float64
 14  bin                         109089 non-null  float64
 15  bbl                         109089 non-null  float64
 16  latitude                    109465 non-null  float64
 17  longitude                   109465 non-null  float64
 18  has_geo                     120084 non-null  bool
 19  residential_commercial_ind  120084 non-null  object
 20  ejectment                   120084 non-null  object
 21  ejectment_standardized      120084 non-null  object
 22  is_ejectment                120084 non-null  bool
 23  eviction_possession         120084 non-null  object
 24  marshal_first_name          120084 non-null  object
 25  marshal_last_name           120084 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(7), int32(2), int64(1), object(13)
memory usage: 21.3+ MB

In [134]:
int_cols = [
    "community_board",
    "council_district",
    "census_tract",
    "bin",
    "bbl"
]

for col in int_cols:
    evictions_clean[col] = evictions_clean[col].astype("Int64")

evictions_clean.dtypes

court_index_number                    object
docket_number                          int64
executed_date                 datetime64[ns]
year                                   int32
month                                  int32
year_month                            object
borough                               object
eviction_address                      object
eviction_apt_num                      object
eviction_zip                          object
nta                                   object
community_board                        Int64
council_district                       Int64
census_tract                           Int64
bin                                    Int64
bbl                                    Int64
latitude                             float64
longitude                            float64
has_geo                                 bool
residential_commercial_ind            object
ejectment                             object
ejectment_standardized                object
is_ejectment                            bool
eviction_possession                   object
marshal_first_name                    object
marshal_last_name                     object
dtype: object

In [135]:
evictions_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120084 entries, 0 to 120083
Data columns (total 26 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   court_index_number          120084 non-null  object
 1   docket_number               120084 non-null  int64
 2   executed_date               120084 non-null  datetime64[ns]
 3   year                        120084 non-null  int32
 4   month                       120084 non-null  int32
 5   year_month                  120084 non-null  object
 6   borough                     120084 non-null  object
 7   eviction_address            120084 non-null  object
 8   eviction_apt_num            120084 non-null  object
 9   eviction_zip                120084 non-null  object
 10  nta                         120084 non-null  object
 11  community_board             109465 non-null  Int64
 12  council_district            109465 non-null  Int64
 13  census_tract                109465 non-null  Int64
 14  bin                         109089 non-null  Int64
 15  bbl                         109089 non-null  Int64
 16  latitude                    109465 non-null  float64
 17  longitude                   109465 non-null  float64
 18  has_geo                     120084 non-null  bool
 19  residential_commercial_ind  120084 non-null  object
 20  ejectment                   120084 non-null  object
 21  ejectment_standardized      120084 non-null  object
 22  is_ejectment                120084 non-null  bool
 23  eviction_possession         120084 non-null  object
 24  marshal_first_name          120084 non-null  object
 25  marshal_last_name           120084 non-null  object
dtypes: Int64(5), bool(2), datetime64[ns](1), float64(2), int32(2), int64(1), object(13)
memory usage: 21.9+ MB

In [136]:
clean_csv_path = os.path.join(DATA_CLEAN_DIR, "evictions_clean.csv")
evictions_clean.to_csv(clean_csv_path, index=False)

clean_csv_path

'c:\\Users\\Christopher\\Documents\\Python Projects\\New_York_City_Eviction\\data_clean\\evictions_clean.csv'